*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Open Sans', sans-serif;
}

header{
	width: 100%;
	background: #000;
	display: flex;
}
	.header__logo {
		text-transform: uppercase;
		color: white;
		font-weight: 800;
		font-size: 24px;
		cursor: pointer;
		margin-top: 56px;
		margin-left: 5%;
	}
	nav {
		margin-top: 56px;
		margin-left: 40%;
	}
/*
	.logo2 img{
	margin-top: -100px%;
  	width: 120px;
  	height: 120px;
  	margin-left: -40%;
	}
*/
	.logo3 img{
	margin-top: 40px;
	max-width: 134%;
	height: auto;
	margin-left: -45%;
	
	
	}
	
	.topnav a {
		color: white;
		display: inline-block;
		padding: 0 .5rem
	
}

	.topnav a:hover {
		border-bottom: 3px solid orange;
	}
	.topnav .icon {
		display: none;
	}
	main {
		background:#00ffff;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	main .main__welcome {
		background:#000;
		text-align: center;
		padding: 40px 0 80px 0;

	}
	main .main__welcome h1 {
		color: #999999;
		font-size: 40px;

	}
	main .main__welcome h2 {
		color: #999999;
		font-size: 70px;

	}

	.main__welcome h1:after {
		display: none;
	}
	/*Добавлено для того,чтоб убрать подчеркивание*/
	main .main__welcome p {
		color: #999999;
		font-size: 24px;
	}

	.babyshop {
		color: #fcac45;

		/*#00ffff
		#fcac45
		*/
	}
	.wrapper {
		background:#00ffff;
		width: 86%;
		margin: 0 auto;
	}
	main .main__about {
		display: flex;
		padding: 100px 0 100px 0;
	}
	.about__right {
		margin-left: 200px;
	}
	.about__right h1 {
		background:#33ccff;
		display: inline-block;
		padding-bottom: 10px;
		padding-left: 60px;
		padding-top: 10px;
		border: 3px solid #1a75ff;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 20px;
		font-size: 27px;
	}
	/* оррр*/
	.about__right h1:after {
		display: none;
	}
	.about__right p {
		margin: 30px 0 50px 0;
		color: #6c6c6c;
		font-size: 22px;

	}
	.about__right h2 {
		background:#33ccff;
		display: inline-block;
		
		border: 3px solid #1a75ff;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 20px;
		font-size: 26px;
		
	}
	.about__right li {
		background: url(img/marker.png) 0px no-repeat;
		padding-left: 40px;
		margin-top: 10px;
		font-size: 24px;

	}
	.mw-100 {

	margin-top: -30px;
	height: 800px;
  	margin-left: 0%;
  	padding: 0px 0 0px 0;
	}
	.foto img{
	margin-top: 0px;
	height: 700px;
  	margin-left: 0%;
	}
	/*************************************Каталог товаров**********************************/
	.main__catalog {
		background: #0099ff;
		text-align: center;
		padding: 0px 0 70px 0;
		color: #000000;
		margin-top: 20px;

	}
	.main__catalog h1 {
		background: #33ccff;
		font size: 75px;
		padding-bottom: 30px;
		border: 3px solid #1a75ff;
		padding: 20px 0 20px 0;
		margin-top: 70px;

		

		
	}
	/*.line {
		width: 330px;
		height: 3px;
		background: orange;
		position: relative;
		left: 30%;
		margin-bottom: 65px;


	}
	.foto {
		background: #d7d7d7;
		width: 125px;
		height: 125px;
		border-radius: 50%;
		margin: 20px auto;


		
	}*/

 
    .catalog__production {
    display: flex;
    background: pink;
    border: 3px solid #1a75ff;
	padding: 20px 0 20px 0;
	

    

    }
   
   .clothe {
   border-radius: 50%;
   }
   .catalog__production h4{
   	text-align: center;
	font-size: 23px; 
   }
   .foto {
   	margin-left: 30px;
   	margin: 30px;

   }
   .product__category {
   	font-size: 20px;
   	padding: 50px;
   	margin-bottom: 5px;
   }

  
/* 
.social__network_cards {
	text-align: left;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 10px;	
	background: #00ffff;	
	
  }
  */

  .social__network_cards {
	text-align: left 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #00ffff;
	margin-top: 20px;
  	margin-bottom: 0px;
  	padding: 40px 0 30px 0;
  	
}


  .social__network h1 {
  	background: #00ffff;
  	text-align: center;
  	padding: 70px 0 30px 0;
  	font-size: 35px;
  }
  .social__network p {
  	color: #6c6c6c;
  	margin-bottom: 0px;
  	text-align: center;
  	background: #00ffff;
  	font-size: 25px;
  }
  
  .social__network_cards h4 {
  	margin-top: 100px;
  	margin-bottom: 0px;

	
   	text-align: left 100px;
  	background: #00ffff;

  	
  }
 /* 
  

 

  .main__contacts {
  	background: #000;
  	padding: 100px 0 50px 0;
  	text-align: center;
  	color: white;
  }
  .main__contacts h1 {
  	margin-bottom: 30px;
  	text-align: left 50px;
  }
  .main__contacts p {
  	display: inline-block;
  	margin-left: 10%;

  	/*text-align: center;
  }
  .main__contacts img {
    padding: 40px;
  	
  	height: 350px;
  	margin-right: 0%;
  }
   h1:after {
  	content: "";
  	display: block;
  	margin: 0 auto;
  	width: 350px;
  	padding-top: 10px;
  	border-bottom: 3px solid orange;
  }

  
*/
/*****************************************/

#test {
background-color: #fc49c1fe;
color: #ffffff;
padding: 15px;
font-size: 35PX;
text-align: center;
}


.happy__birthday {
	background-image: url(img/fon7.jpg);
  	width: 100%;
   	text-align: center;
  	margin-bottom: 0px;
  }
  .happy__birthday h1 {
  	color: 
  	margin-bottom: 30px;
  	text-align: 50%;
  }
  
  	/*text-align: center;
  }
  .happy__birthday img {
  	height: 600px;
	display: block;
	margin-top: -30px;
    margin-right: 0;
    padding-top: -30px

    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}*/

.happy__birthday video {
	width: 700px;
	margin-top: 150px;
	margin-bottom: 150px;
}


#test2 {
text-align: center;
background-color: #000;
color: #ffffff;
padding: 15px;
font-size: 35PX;

}



.the__end {
	background-color: #5e5e5efe;
	
  }
  

  .the__end2 {
	background-color: #5e5e5efe;
	  		
  }


 .the__end3 {
	background-color: #5e5e5efe;
		
  }
  
  	/*text-align: center;
  }
  .happy__birthday img {
  	height: 600px;
	display: block;
	margin-top: -30px;
    margin-right: 0;
    padding-top: -30px

    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}*/

 
.the__end img {
	width: 900px;
	margin-left: 80px;
	margin-bottom: 0px;
   
}

.the__end2 img {
	width: 400px;
	margin-top: -1000px;
	margin-bottom: 300px;
	margin-left: 560px;
	
}

.the__end3 audio  {
	background-color: #5e5e5efe;
	margin-left: 620px;
	margin-bottom: 260px;
	margin-top: -500px;
}
    }

    @media (max-width: 1200px) {
    	nav {
    		margin-left: 20%;

    	}
    }
    @media (max-width: 1105px) {
    	nav {
    		margin-left: 10%;

    	}
    }

   
	@media (max-width: 1000px) {

		
		

		.catalog__production h4{
   	text-align: center;
	font-size: 35px; 
   }


		.topnav a {
			font-size: 37px;
			display: none;
		}
		.topnav a.icon {
			padding-right: 60px;
			float: right;
			margin-top: -22px;
			display: block;
			color: white;
			font-size: 75px;
		}
		nav { 
			width: 100%;
		 }
		 /*
		 .logo3 img {
			position: relative;
		 	top: 15px;
		 	left: -6%;
		}
		 */

		 .logo3 img{
			margin-top: 90px;
			max-width: 167%;
			height: auto;
			margin-left: -68.5%;
	
	
	}
		
		 .topnav.responsive {
		 	position: relative;
		 	top: 80px;
		 	left: -200px;
		 }
		header .topnav.responsive {
		 	height: 380px;
		 }
		  .topnav.responsive a.icon {
		 	position: absolute;
		 	top: -30px;
		 	right: -200px;
		 }
		  .topnav.responsive a {
		 	float: none;
		 	display: block;
		 	text-align: left;
		 	margin-bottom: 15px;
		 }
main {
		background:#00ffff;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
main .main__welcome {
		background:#000;
		text-align: center;
		padding: 40px 0 80px 0;

	}
main .main__welcome h1 {
		color: #999999;
		font-size: 43px;

	}
	main .main__welcome h2 {
		color: #999999;
		font-size: 75px;

	}

	main .main__welcome p {
		color: #999999;
		font-size: 24px;
	}

	.main__welcome h1:after {
		display: none;
	}
	/*Добавлено для того,чтоб убрать подчеркивание*/

		 
		 main .main__welcome {
		 	padding: 50px 0 50px 0;
		 }
		 
		
		 main .main__welcome h1{
		 	padding: 25px;
		 }

.main__catalog h1 {
		background: #33ccff;
		font size: 55px;
		padding-bottom: 30px;
		border: 3px solid #1a75ff;
		padding: 20px 0 20px 0;
		margin-top: 70px;
		
	}
.about__right h1 {
		background:#33ccff;
		display: inline-block;
		border: 3px solid #1a75ff;
		border-radius: 20px;
		font-size: 33px;
	}
	/* оррр*/
	.about__right h1:after {
		display: none;
	}
	.about__right p {
		margin: 30px 0 50px 0;
		color: #6c6c6c;
		font-size: 25px;

	}
	.about__right h2 {
		background:#33ccff;
		display: inline-block;
		
		border: 3px solid #1a75ff;
		border-radius: 20px;
		font-size: 33px;
		
	}
.about__right li {
		background: url(img/marker.png) 0px no-repeat;
		padding-left: 40px;
		margin-top: 10px;
		font-size: 25px;

	}
		.mw-100 {
		max-width: 100%;
		margin-left: 25%;
		

	     }
	     
	     .main__about {
		flex-direction: column;
	     }
	     .about__right {
	     	text-align: center;
	     	margin-left: 0;
	     }
	       .about__right li {
	      	text-align: left;

	     }
	     /*
	     .about__right h1 {
			background:#33ccff;
			display: inline-block;
			border-bottom: 3px solid orange;
			padding-bottom: 10px;
			padding-left: 60px;
			padding-top: 10px;
			border: 3px solid #1a75ff;
			border-radius: 20px;
			} */
	     .about__right h1 {
	     	font-size: 30px;
	     	margin-top: 25px;
	     	padding: 15px;
	     }

	     .about__right h2 {
	     	font-size: 30px;
	     	padding: 7px;
	     	padding-top: 15px;
	     	padding-bottom: 15px;
	     }
	      .catalog__production {
	      	flex-direction: column;
}

.the__end img {
	width: 970px;
	margin-left: 0px;
	margin-bottom: 0px;
   
}

.the__end2 img {
	width: 430px;
	margin-top: -1000px;
	margin-bottom: 360px;
	margin-left: 530px;
	
}

.the__end3 {
	width: 300px;
	background-color: #5e5e5efe;
	margin-bottom: 0px;
	margin-top: 0px;
		
  }
.the__end3 audio  {
	background-color: #5e5e5efe;
	margin-left: 620px;
	margin-bottom: 260px;
	margin-top: -500px;
}


.social__network h1 {
  	background: #00ffff;
  	text-align: center;
  	padding: 70px 0 30px 0;
  	font-size: 47px;
  }
  .social__network p {
  	color: #6c6c6c;
  	margin-bottom: 0px;
  	text-align: center;
  	background: #00ffff;
  	font-size: 32px;
  }




   
  
    



		 
		 






	

